[flake8]
# H306: imports not in alphabetical order (time, os)
# H404: multi line docstring summary not separated with an empty line
# H405  multi line docstring summary not separated with an empty line
ignore = H306,H404,H405
max-complexity = 10
max-line-length = 120